@media only screen and (max-width: 600px) {
    .graph_container {
        background-color: #232323;
        margin-left: 7%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;
    }

    h1 {
        text-align: center;
    }

    .logo {
        margin-left: 23%;
    }

    .logout-button {
        margin-right: 1em;
        font-size: 0.8em;
    }

    #modalTrigger {
        background-color: #dc4c18;
        border: 1px solid #dc4c18;
        border-radius: 4px;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-left: 42%;
        margin-bottom: 2em;
        width: 18%;
    }

    #modalTrigger:hover {
        background-color: #ffffff;
        border: #ffffff;
    }

    .work_parties_container {
        background-color: #232323;
        margin-bottom: 3em;
        margin-left: 7%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;

        #modalTrigger {
            width: 29%;
            margin-left: 36%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .graph_container {
        background-color: #232323;
        margin-left: 8%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;
    }

    h1 {
        text-align: center;
    }

    .logo {
        margin-left: 32%;
    }

    #modalTrigger {
        background-color: #dc4c18;
        border: 1px solid #dc4c18;
        border-radius: 4px;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-left: 45%;
        margin-bottom: 2em;
        width: 12%;
    }

    #modalTrigger:hover {
        background-color: #ffffff;
        border: #ffffff;
    }

    .work_parties_container {
        background-color: #232323;
        margin-bottom: 3em;
        margin-left: 8%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;

        #modalTrigger {
            width: 19%;
            margin-left: 41%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .graph_container {
        background-color: #232323;
        margin-left: 9%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;
    }

    h1 {
        text-align: center;
    }

    .logo {
        margin-left: 38%;
    }

    #modalTrigger {
        background-color: #dc4c18;
        border: 1px solid #dc4c18;
        border-radius: 4px;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-left: 46%;
        margin-bottom: 2em;
        width: 10%;
    }

    #modalTrigger:hover {
        background-color: #ffffff;
        border: #ffffff;
    }

    .work_parties_container {
        background-color: #232323;
        margin-bottom: 3em;
        margin-left: 9%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;

        #modalTrigger {
            width: 15%;
            margin-left: 42.5%;
        }
    }
}

@media only screen and (min-width: 992px) {
    .graph_container {
        background-color: #232323;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;
    }

    h1 {
        text-align: center;
    }

    .logo {
        margin-left: 40%;
    }

    #modalTrigger {
        background-color: #dc4c18;
        border: 1px solid #dc4c18;
        border-radius: 4px;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-left: 46%;
        margin-bottom: 2em;
        width: 7%;
    }

    #modalTrigger:hover {
        background-color: #ffffff;
        border: #ffffff;
    }

    .work_parties_container {
        background-color: #232323;
        margin-bottom: 3em;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;

        #modalTrigger {
            width: 12%;
            margin-left: 41%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .graph_container {
        background-color: #232323;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;
    }

    h1 {
        text-align: center;
    }

    .logo {
        margin-left: 42%;
    }

    #modalTrigger {
        background-color: #dc4c18;
        border: 1px solid #dc4c18;
        border-radius: 4px;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-left: 46%;
        margin-bottom: 2em;
        width: 7%;
    }

    #modalTrigger:hover {
        background-color: #ffffff;
        border: #ffffff;
    }

    .work_parties_container {
        background-color: #232323;
        margin-bottom: 3em;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1em;
        width: 80%;

        #modalTrigger {
            width: 10%;
            margin-left: 43%;
        }
    }
}