.edit_records {
  align-items: center;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3em;
  width: 40%;

  button {
    margin: 1em 0;
  }
}

.edit_record_form {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .exposure_record {
    margin-left: 7%;
  }

  .graph_container {
    margin-left: 7%;
  }

  .logo {
    margin-left: 23%;
  }

  #logout-holder {
    margin-right: 1em;

    p {
      font-size: 0.6em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .exposure_record {
    margin-left: 8%;
  }

  .graph_container {
    margin-left: 8%;
  }

  .logo {
    margin-left: 32%;
  }
}

@media only screen and (min-width: 768px) {
  .exposure_record {
    margin-left: 10%;
  }

  .graph_container {
    margin-left: 10%;
  }

  .logo {
    margin-left: 38%;
  }
}

@media only screen and (min-width: 992px) {
  .exposure_record {
    margin-left: 10%;
  }

  .graph_container {
    margin-left: 10%;
  }

  .logo {
    margin-left: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .exposure_record {
    margin-left: 10%;
  }

  .graph_container {
    margin-left: 10%;
  }

  .logo {
    margin-left: 42%;
  }
}