@media only screen and (max-width: 600px) {
    button {
        font-size: 1.2em;
        height: 2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
        width: 80px;
    }

    input {
        background-color: #232323;
        color: #ffffff;
        font-size: 1.2em;
        height: 1.8em;
        margin-bottom: 1.5em;
        outline: 0;
        padding-left: 0.1em;
        padding-right: 0.1em;
        width: 50%;
    }

    form {
        align-items: center;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 10%;
        margin-left: 13%;
        margin-right: 15%;
        padding: 2%;
        width: 70%;
    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .logo {
        margin-left: 22%;
    }

    .logout-button {
        margin-right: 1em;
        font-size: 0.8em;
    }

    .register {
        margin-left: 60%;
        color: #dc4c18;
    }
}

@media only screen and (min-width: 600px) {
    button {
        font-size: 1.2em;
        height: 2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
        width: 80px;
    }

    input {
        background-color: #232323;
        color: #ffffff;
        font-size: 1.0em;
        height: 1.8em;
        margin-bottom: 1.5em;
        outline: 0;
        padding-left: 0.3em;
        padding-right: 0.3em;
        width: 50%;
    }

    form {
        align-items: center;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 10%;
        margin-left: 18%;
        margin-right: 20%;
        padding: 2%;
        width: 60%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .logo {
        margin-left: 32%;
    }

    .register {
        margin-left: 50%;
        color: #dc4c18;
    }
}

@media only screen and (min-width: 768px) {
    button {
        font-size: 1.2em;
        height: 2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
        width: 80px;
    }

    input {
        background-color: #232323;
        color: #ffffff;
        font-size: 1.0em;
        height: 1.8em;
        margin-bottom: 1.5em;
        outline: 0;
        padding-left: 0.6em;
        padding-right: 0.6em;
        width: 50%;
    }

    form {
        align-items: center;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 10%;
        margin-left: 18%;
        margin-right: 20%;
        padding: 2%;
        width: 60%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .logo {
        margin-left: 38%;
    }

    .register {
        margin-left: 50%;
        color: #dc4c18;
    }
}

@media only screen and (min-width: 992px) {
    button {
        font-size: 1.2em;
        height: 2em;
        margin-top: 2em;
        margin-bottom: 1.5em;
        width: 80px;
    }

    input {
        background-color: #232323;
        color: #ffffff;
        font-size: 1.0em;
        height: 1.8em;
        margin-bottom: 1.5em;
        outline: 0;
        padding-left: 0.8em;
        padding-right: 0.8em;
        width: 50%;
    }

    form {
        align-items: center;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 10%;
        margin-left: 28%;
        margin-right: 30%;
        padding: 2%;
        width: 40%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .logo {
        margin-left: 40%;
    }

    .register {
        margin-left: 60%;
        color: #dc4c18;
    }
}

@media only screen and (min-width: 1200px) {
    button {
        font-size: 1.2em;
        height: 2em;
        margin-top: 2em;
        margin-bottom: 1.5em;
        width: 80px;
    }

    input {
        background-color: #232323;
        color: #ffffff;
        font-size: 1.0em;
        height: 1.8em;
        margin-bottom: 1em;
        outline: 0;
        padding-left: 0.8em;
        padding-right: 0.8em;
        width: 50%;
    }

    form {
        align-items: center;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 10%;
        margin-left: 28%;
        margin-right: 30%;
        padding: 2%;
        width: 40%;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .logo {
        margin-left: 42%;
    }

    .register {
        margin-left: 75%;
        color: #dc4c18;
    }
}