.modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s linear;

}

.modal-opaque {
    opacity: 0.3;
}

.modal__content {
    background-color: #232323;
    border-radius: 4px;
    height: 80%;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}
