.modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal__content {
    background: #1f1f1f;
    background: -webkit-linear-gradient(0deg, #1f1f1f 0%, #101010 100%);
    background: linear-gradient(0deg, #1f1f1f 0%, #101010 100%);
    border-radius: 4px;
    height: 80%;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
}

img {
    width: 5em;
    height: auto;
    padding-top: 10px;
    padding-bottom: 35px;

}

.icons_display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 35%;
    margin-right: 35%;
}

input {

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2rem 0.35rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.7);

}


button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.35rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
    color: white;
    font-family: 'Open Sans', Tahoma;
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px)and (min-width: 360px) {
    form {

        margin-left: 15%;
        margin-right: 15%;
    }
}









.animation {
    position: relative;
    animation: animation 2s ease-out;
}

#slide-in {
    text-align: center;
    color: #dc4c18;
}

@keyframes animation {
    0% {
        opacity: 0;
        left: -700px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}