.modal_work_party {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal_work_party_content {
    background: #1f1f1f;
    background: -webkit-linear-gradient(0deg, #1f1f1f 0%, #101010 100%);
    background: linear-gradient(0deg, #1f1f1f 0%, #101010 100%);
    border-radius: 4px;
    height: 80%;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
}

.icons_display-img {
    width: 5em;
    height: auto;
    padding-top: 10px;
    padding-bottom: 35px;

}

.icons_display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
}

.modal_add_tool-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

.modal_add_tool-form-input {

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2rem 0.35rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.7);

}


.modal_add_tool-form-button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.35rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
    color: white;
    font-family: 'Open Sans', Tahoma;
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px)and (min-width: 360px) {
    .modal_add_tool-form {

        margin-left: 15%;
        margin-right: 15%;
    }
}

.input-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.users_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 12px;

}

.users_display-name {
    margin: 0;
}

.list-of-workers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 12px;
    margin-top: 12px;
}

.list-of-workers-name {
    margin: 0;
}

.list-of-workers-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 650px) {
    .modal_work_party {
        display: flex;
        flex-direction: column;

    }

    .modal_work_party_content {
        display: flex;
        flex-direction: column;
        height: 130%;
        margin: 5% auto;
        padding: 20px;
        width: 70%;
    }

    .users {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .users_display-name {
            font-size: 10px;
        }

    }

    .list-of-workers-list {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .list-of-workers-name {
            font-size: 10px;
        }

    }


}




@media only screen and (min-width: 850px) and (max-width: 1050px) {
    .modal_work_party {
        display: flex;
        flex-direction: column;

    }

    .modal_work_party_content {
        display: flex;
        flex-direction: column;
        height: 130%;
        margin: 5% auto;
        padding: 20px;
        width: 70%;
    }

    .users {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .users_display-name {
            font-size: 10px;
        }

    }

    .list-of-workers-list {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .list-of-workers-name {
            font-size: 10px;
        }

    }


}





@media only screen and (min-width: 650px) and (max-width: 1250px) {
    .modal_work_party {
        display: flex;
        flex-direction: column;

    }

    .modal_work_party_content {
        display: flex;
        flex-direction: column;
        height: 130%;
        margin: 5% auto;
        padding: 20px;
        width: 70%;
    }

    .users {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .users_display-name {
            font-size: 10px;
        }

    }

    .list-of-workers-list {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;



        .list-of-workers-name {
            font-size: 10px;
        }

    }


}